{% extends "base.html" %}
{% block style %}
{% endblock %}
{% block header %}
<h1>Add Sample</h1>
{% endblock %}
{% block content %}
<form class="form-horizontal" action="{{ url_for('addSample') }}" method="post"
  onsubmit="return confirm('Please double check the information.')">
  <div class="form-group">
    <label class="control-label col-md-2" for="sampleName">Sample Name:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="sampleName" required>
    </div>
    <label class="control-label col-md-2" for="sampleType">Sample Type:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="sampleType">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="lot">Lot:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="lot">
    </div>
    <label class="control-label col-md-2" for="project">Project:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="project">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="coreNumber">Core Number:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="coreNumber">
    </div>
    <label class="control-label col-md-2" for="parentCore">Parent Core:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="parentCore">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="source">Source:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="source">
    </div>
    <label class="control-label col-md-2" for="sourceNumber">Source Number:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="sourceNumber">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="barcode">Barcode:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="barcode">
    </div>
  </div>
  <hr>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <input class="form-control btn btn-primary" id="submitbutton" type="submit" value="Add Sample">
    </div>
  </div>
</form>
{% endblock %}
