{% extends "base.html" %}
{% block style %}
{% endblock %}
{% block header %}
<h1>Edit Sample</h1>
{% endblock %}
{% block content %}
<form class="form-horizontal" action="{{ url_for('editSample', sampleId=sample.sampleId) }}" method="post"
  onsubmit="return confirm('Please double check the information.')">
  <div class="form-group">
    <label class="control-label col-md-2" for="sampleName">Sample Name:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="sampleName"
        value="{{ sample.sampleName if sample.sampleName }}" required>
    </div>
    <label class="control-label col-md-2" for="sampleType">Sample Type:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="sampleType"
        value="{{ sample.sampleType if sample.sampleType }}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="lot">Lot:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="lot"
        value="{{ sample.lot if sample.lot }}">
    </div>
    <label class="control-label col-md-2" for="project">Project:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="project"
        value="{{ sample.project if sample.project }}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="coreNumber">Core Number:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="coreNumber"
        value="{{ sample.coreNumber if sample.coreNumber }}">
    </div>
    <label class="control-label col-md-2" for="parentCore">Parent Core:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="parentCore"
        value="{{ sample.parentCore if sample.parentCore }}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="source">Source:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="source"
        value="{{ sample.source if sample.source }}">
    </div>
    <label class="control-label col-md-2" for="sourceNumber">Source Number:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="sourceNumber"
        value="{{ sample.sourceNumber if sample.sourceNumber }}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-2" for="barcode">Barcode:</label>
    <div class="col-md-2">
      <input class="form-control" type="text" name="barcode"
        value="{{ sample.barcode if sample.barcode }}">
    </div>
    <label class="control-label col-md-2" for="date">Date:</label>
    <div class="col-md-2">
      <input class="form-control" type="date" name="date"
        value="{{ sample.date if sample.date }}" pattern="[\d]{4}-[\d]{2}-[\d]{2}" title="Date format is yyyy-mm-dd">
    </div>
  </div>
  <hr>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <input class="form-control btn btn-primary" id="submitbutton" type="submit" value="Edit Sample">
    </div>
  </div>
</form>
{% endblock %}
